<div>
    <h2>Add Admin</h2>
</div>
<h3>Admin Information</h3>
<mat-divider></mat-divider>

<form #admin='ngForm'>
    <div fxLayoutGap='50px'>
        <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput name='fName' [(ngModel)]='admin.fName' required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput name='lName' [(ngModel)]='admin.lName' required>
        </mat-form-field>
    </div>
    <div fxLayoutGap='50px'>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput name='email' [(ngModel)]='admin.email' placeholder="someone@mail.com" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>PIN</mat-label>
            <input matInput name='adminPin' [(ngModel)]='admin.adminPin' required>
        </mat-form-field>
    </div>
    <div fxLayoutGap='50px'>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput name='password' [(ngModel)]='admin.password' required>
        </mat-form-field>
    </div>
    <mat-card-actions>
        <button mat-raised-button (click)='createAdmin(admin.value)' color='primary'>Submit</button>
        <button mat-raised-button routerLink='../dashboard'>Cancel</button>
    </mat-card-actions>
</form>