<ng-container class="login-wrapper">
    <ng-container class="login-form">
        <div class="loginPage">
            <form>
                <fieldset class="input">
                    <legend>Email</legend>
                    <input
                      type="text"
                      required
                    />
                  </fieldset>
                  <fieldset class="input">
                    <legend>Password</legend>
                    <input
                      type="password"
                      required
                    />            
                  </fieldset>
            </form>
        </div>
    </ng-container>
</ng-container>
