<div>
    <h2>Add Nurse</h2>
</div>
<h3>Nurse Information</h3>
<mat-divider></mat-divider>

<form #nurse='ngForm'>
    <div fxLayoutGap='50px'>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput name='email' [(ngModel)]='nurse.email' placeholder="someone@mail.com" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput name='password' [(ngModel)]='nurse.password' required>
        </mat-form-field>
    </div>
    <div fxLayoutGap='50px'>
        <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput name='title' [(ngModel)]='nurse.title' required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Paging Number</mat-label>
            <input matInput name='pagingNum' [(ngModel)]='nurse.pagingNum' required>
        </mat-form-field>
    </div>
    <div fxLayoutGap='50px'>
        <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput name='fName' [(ngModel)]='nurse.fName' required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput name='lName' [(ngModel)]='nurse.lName' required>
        </mat-form-field>
    </div>
    <mat-card-actions>
        <button mat-raised-button color='primary' (click)='createNurse(nurse.value)'>Submit</button>
        <button mat-raised-button routerLink='../doctor-list'>Cancel</button>
    </mat-card-actions>
</form>