<mat-toolbar color='primary'>
    <mat-toolbar-row>
        <span>AMS</span>
        <div fxFlex fxLayout='row' fxLayoutAlign='flex-end'>
            <ul fxLayout='row' fxLayoutGap='20px'>
                <li>
                    <button mat-icon-button>
                        <mat-icon>help</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]='menu'>
                        <mat-icon>person</mat-icon>
                        <mat-menu #menu='matMenu'>
                            <button mat-menu-item routerLink='/login'>
                                <mat-icon>exit_to_app</mat-icon>
                                Sign Out
                            </button>
                        </mat-menu>
                    </button>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container>
    <mat-drawer mode='side' opened>
        <mat-nav-list>
            <div class="profile-pic">
                <div class="header">
                    <h2>Brandon</h2>
                    <h4>Patient</h4>
                </div>
                <img src="https://img-comment-fun.9cache.com/media/arGxZDX/a3MzPwmn_700w_0.jpg" alt="">
            </div>
            <mat-divider></mat-divider>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Vitals Overview</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    Height: 6'2"
                </mat-card-content>
                <mat-card-content>
                    Weight: 175 lbs
                </mat-card-content>
            </mat-card>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <app-patient-home></app-patient-home>
    </mat-drawer-content>
</mat-drawer-container>