<mat-toolbar color='primary'>
    <mat-toolbar-row>
        <span>Patient Management System</span>
        <div fxFlex fxLayout='row' fxLayoutAlign='flex-end'>
            <ul fxLayout='row' fxLayoutGap='20px'>
                <li>
                    <button mat-icon-button>
                        <mat-icon>help</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]='menu'>
                        <mat-icon>person</mat-icon>
                        <mat-menu #menu='matMenu'>
                            <button mat-menu-item routerLink='/login'>
                                <mat-icon>exit_to_app</mat-icon>
                                Sign Out
                            </button>
                        </mat-menu>
                    </button>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container>
    <mat-drawer mode='side' opened>
        <mat-nav-list>
            <div class="profile-pic">
                <div class="header">
                    <h2>Dr. Doctor</h2>
                    <h4>Doctor</h4>
                </div>
                <img src="https://img.collegedekhocdn.com/media/img/careers/doctor-clinic.jpg" alt="">
            </div>
            <mat-divider></mat-divider>
            <app-clock></app-clock>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
