mat-grid-tile{
    background-color: lightcyan;
}
img{
    width: 100%;
}
.c-1{
    width: 95%;
    height: 90%;
    overflow: auto;
}
.c-2{
    width: 90%;
    height: 93%;
    margin-bottom: 1em;
}
.c-3{
    width: 97%;
    height: 85%;
}
table{
    width: 100%;
}

.noteID{
    visibility: hidden;
}