ul{
    li{
        list-style: none;
    }
}

.profile-pic{
    text-align: center;
    padding: 0 20px 20px 20px;
    img{
        width: 125px;
        height: 125px;
        object-fit: cover;
        border-radius: 50%;
    }
}

:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}
mat-drawer{
    width: 200px;
}
mat-drawer-container{
    height: 100%;
}
mat-drawer-content{
    padding: 10px;
}
mat-toolbar{
    flex: auto;
}
.dashboard-link{
    background-color: lightblue;
}
mat-list{
    div{
        button{
            margin-bottom: 3px; 
        }
    }
}
