<mat-toolbar color='primary'>
    <mat-toolbar-row>
        <span>AMS</span>
        <div fxFlex fxLayout='row' fxLayoutAlign='flex-end'>
            <ul fxLayout='row' fxLayoutGap='20px'>
                <li>
                    <button mat-icon-button>
                        <mat-icon>help</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]='menu'>
                        <mat-icon>person</mat-icon>
                        <mat-menu #menu='matMenu'>
                            <button mat-menu-item routerLink='/login'>
                                <mat-icon>exit_to_app</mat-icon>
                                Sign Out
                            </button>
                        </mat-menu>
                    </button>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container>
    <mat-drawer mode='side' opened>
        <mat-nav-list>
            <div class="profile-pic">
                <div class="header">
                    <h2>Brian Knauff</h2>
                    <h4>Admin</h4>
                </div>
                <img src="https://img-comment-fun.9cache.com/media/arGxZDX/a3MzPwmn_700w_0.jpg" alt="">
            </div>
            <mat-divider></mat-divider>
            <a class="dashboard-link" mat-list-item routerLinkActive="list-item-active"
                routerLink="dashboard">Dashboard</a>
        </mat-nav-list>

        <mat-list>
            <mat-list-item>Patienet Management</mat-list-item>
            <div>
                <button mat-raised-button fxFill color='primary' routerLink='patient-add'>Create Patient</button>
                <button mat-raised-button fxFill color='primary' routerLink='patient-list'>Modify Patient</button>
            </div>
            <mat-list-item>Doctor Management</mat-list-item>
            <div>
                <button mat-raised-button fxFill color='primary' routerLink='doctor-add'>Create Doctor</button>
                <button mat-raised-button fxFill color='primary' routerLink='doctor-list'>Modify Doctor</button>
            </div>
            <mat-list-item>Nurse Management</mat-list-item>
            <div>
                <button mat-raised-button fxFill color='primary' routerLink='nurse-add'>Create Nurse</button>
                <button mat-raised-button fxFill color='primary' routerLink='nurse-list'>Modify Nurse</button>
            </div>
            <mat-list-item>Admin Management</mat-list-item>
            <div>
                <button mat-raised-button fxFill color='primary' routerLink='admin-add'>Create Admin</button>
                <button mat-raised-button fxFill color='primary' routerLink='admin-list'>Modify Admin</button>
            </div>
        </mat-list>

        <!--
            <a mat-list-item routerLinkActive="list-item-active" routerLink="dashboard">Dashboard</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="admin-list">Admins</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="admin-add">Doctors</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="">Nurses</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="patient-list">Patients</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="test">Appointments</a>
            -->
        <mat-divider></mat-divider>

    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>