<mat-grid-list cols='5' rowHeight='200px'>
    <mat-grid-tile [colspan]=3 [rowspan]=4>
        <mat-card class="c-1">
            <mat-card-header>
                <mat-card-title>Upcoming Appointments</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <table mat-table [dataSource]='appointments' class="mat-elevation-z8">

                    <ng-container matColumnDef="_id">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element._id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                    </ng-container>


                    <ng-container matColumnDef="time">
                        <th mat-header-cell *matHeaderCellDef> Time </th>
                        <td mat-cell *matCellDef="let element"> {{element.time}} </td>
                    </ng-container>


                    <ng-container matColumnDef="doctorID">
                        <th mat-header-cell *matHeaderCellDef> Doctor </th>
                        <td mat-cell *matCellDef="let element"> {{element.doctorID}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Cancel Appointment </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-raised-button color='warn'
                                (click)='cancelAppointment(element._id)'>Cancel</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=2 [rowspan]=3 class="t">
        <mat-card class="c-2">
            <mat-calendar [selected]="selectedDate" (selectedChange)="onSelect($event)"></mat-calendar>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=2 [rowspan]=1>
        <mat-card class="c-3">
            <div>
                <form #appointment='ngForm'>
                    <div fxLayout="row" fxLayoutAlign="space-evenly center">
                        <mat-form-field appearance='outline'>
                            <mat-label>Date</mat-label>
                            <input matInput name="date" [(ngModel)]='appointment.date' required>
                        </mat-form-field>
                        <mat-form-field appearance='outline'>
                            <mat-label>Time</mat-label>
                            <input matInput name="time" [(ngModel)]='appointment.time' required>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-evenly center">

                        <mat-form-field appearance="outline">
                            <mat-label>Doctor</mat-label>
                            <mat-select name='doctorID' [(ngModel)]="appointment.doctorID">
                              <mat-option value="60910ef0f12de43f288a15c5">60910ef0f12de43f288a15c5</mat-option>
                              <mat-option value="60930c8ba20c2ddc95d2eaa2">60930c8ba20c2ddc95d2eaa2</mat-option>
                              <mat-option value="6093115ca3b8e5285d1bd2de">6093115ca3b8e5285d1bd2de</mat-option>
                            </mat-select>
                          </mat-form-field>

                        <mat-form-field appearance='outline'>
                            <mat-label>Appointment Type</mat-label>
                            <input matInput name="type" [(ngModel)]='appointment.type' required>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-evenly center">

                        <mat-form-field appearance="outline">
                            <mat-label>Patient</mat-label>
                            <mat-select name='patientID' [(ngModel)]="appointment.patientID">
                              <mat-option value="608892b0d364195d804f3c0d">608892b0d364195d804f3c0d</mat-option>
                            </mat-select>
                          </mat-form-field>

                          <mat-card-actions fxLayout='row' fxLayoutAlign='center center'>
                            <button mat-raised-button color='primary' (click)='createAppointment(appointment.value)'>Create Appointment</button>
                        </mat-card-actions>
                        
                    </div>
                </form>
            </div>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>